* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flex-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
header {
  display: flex;
  background-color: yellow;
  padding: 30px;
  height: 40px;
  flex-basis: 100%;
}
header > p {
  font-size: 20px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}
section {
  display: flex;
  justify-content: center;
  flex: 1 0 auto;
  background-image: url("./images/soccer_wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.grid-escalacao-section {
  display: grid;
  grid-template-areas:
    "escalar remover"
    "modal-selecao-posicao modal-selecao-posicao";
}

#modal-selecao-posicao {
  grid-area: modal-selecao-posicao;
  margin-top: 20px;
  margin-left: 10px;
  position: fixed;
  background-color: grey;
  visibility: hidden;
  border-radius: 6px;
  height: 70px;
  width: 200px;
  display: grid;
  column-gap: 2px;
  align-items: center;
  justify-content: center;
  grid-template-areas: "input1 input2 input3 input4 input5";
}

.input1 {
  grid-area: input1;
}
.input2 {
  grid-area: input2;
}
.input3 {
  grid-area: input3;
}
.input4 {
  grid-area: input4;
}
.input5 {
  grid-area: input5;
}
.posicoes {
  grid-area: posicoes;
}
#modal-selecao-posicao > input {
  height: 40px;
  width: 30px;
  gap: 0 40px;
}

#tela-de_escalar-no-time {
  visibility: hidden;
  margin-top: 100px;
  margin-left: 10px;
  position: fixed;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: grey;
  width: 200px;
  height: 200px;
  row-gap: 10px;
  align-items: center;
  border-radius: 6px;
  transition: 2ms;
}

.form {
  padding-left: 15px;
}

.tabuleiro {
  display: grid;
  /* grid-template-columns: auto auto auto auto; */
  grid-template-areas:
    "goleiro goleiro"
    "ala-esq ala-dir"
    "central central"
    "atacante atacante";
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  height: 500px;
  width: 400px;
  background-color: green;
  border-radius: 6px;
}
.escalar {
  grid-area: escalar;
  height: 40px;
  background-color: yellow;
  margin-top: 20px;
  margin-left: 40px;
  padding: 10px 20px;
  border-radius: 6px;
}
.remover {
  grid-area: remover;
  height: 40px;
  background-color: yellow;
  margin-top: 20px;
  margin-left: 40px;
  padding: 10px 20px;
  border-radius: 6px;
  visibility: hidden;
}
.circle {
  height: 60px;
  width: 60px;
  border-radius: 50px;
  background-color: white;
  font-size: 0.8em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.goleiro {
  grid-area: goleiro;
  margin: 10px auto;
  /* margin-left: 200px;
  margin-right: 100px; */
}
.ala-esq {
  grid-area: ala-esq;
}
.ala-dir {
  grid-area: ala-dir;
}
.central {
  grid-area: central;
  margin: 0 auto;
}

.atacante {
  grid-area: atacante;
  margin: 0 auto;
}

footer {
  display: flex;
  background-color: yellow;
  padding: 30px;
  height: 40px;
  flex-basis: 100%;
}
