* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flex-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.nav_bar {
  display: flex;
  background-color: yellow;
  padding: 30px;
  height: 30px;
  flex-basis: 100%;
}
.nav_bar_title {
  font-size: 20px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}
.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 1 0 auto;
  row-gap: 10px;
  padding: 20px;
  background-image: url("./images/soccer_wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.jogadores_escalados {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.tela_de_escacar_no_time {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.escalar_button {
  display: flex;
  padding: 15px 10px;
  justify-content: flex-start;
  height: 10px;
  background-color: yellow;
  border-radius: 6px;
}

.input1 {
  grid-area: input1;
}
.input2 {
  grid-area: input2;
}
.input3 {
  grid-area: input3;
}
.input4 {
  grid-area: input4;
}
.input5 {
  grid-area: input5;
}
.posicoes {
  grid-area: posicoes;
}

.botoes_de_adicao_e_remocao {
  display: flex;
  flex-direction: wrap;
  justify-content: center;
  align-items: center;
}
#modal_e_escalacao {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 10px 0;
  display: none;
}
#modal-selecao-posicao {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-areas: "input1 input2 input3 input4 input5";
  column-gap: 2px;
  margin-top: 20px;
  margin: 0 auto;
  background-color: grey;
  border-radius: 6px;
  height: 70px;
  width: 200px;
  /* display: none; */
}
#modal-selecao-posicao > input {
  height: 40px;
  width: 20px;
}

.tela_de_escalacao_com_tela_de_remocao_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#tela-de_escalar-no-time {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  /* visibility: hidden; */
  background-color: grey;
  width: 200px;
  height: 200px;
  border-radius: 6px;
  display: none;
}

.form {
  padding-left: 15px;
}

.tabuleiro {
  display: grid;
  grid-template-areas:
    "goleiro goleiro"
    "ala-esq ala-dir"
    "central central"
    "atacante atacante";
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  height: 300px;
  width: 150px;
  background-color: green;
  border-radius: 6px;
  border-color: white;
  border-width: 0.5px;
  border-style: solid;
}

.remover {
  grid-area: remover;
}
.remover-button-ontop {
  display: flex;
  justify-content: right;
  padding: 15px 10px;
  height: 10px;
  background-color: yellow;
  border-radius: 6px;
  display: none;
}
.circle {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-color: white;
  font-size: 0.8em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.goleiro {
  grid-area: goleiro;
  margin: 10px auto;
  /* margin-left: 200px;
  margin-right: 100px; */
}
.ala-esq {
  grid-area: ala-esq;
}
.ala-dir {
  grid-area: ala-dir;
}
.central {
  grid-area: central;
  margin: 0 auto;
}

.atacante {
  grid-area: atacante;
  margin: 0 auto;
}

.tela-de-remocao {
  display: flex;
  row-gap: 10px; /*gap interno*/
  flex-direction: column;
  justify-content: center;
  justify-content: flex-end;
  margin: 10px;
  width: 200px;
  background-color: red;
  padding: 20px;
  display: none;
  /* visibility: hidden; */
}
.tela-de-remocao .removerJogadorDoTimeBtn {
  padding: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: burlywood;
}

footer {
  display: flex;
  background-color: yellow;
  padding: 30px;
  height: 40px;
  flex-basis: 100%;
}
